__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.*
*.sqlite3


*.pyc
*.pyo
*.pyd


htmlcov/
.tox/
.nox/
.coverage*
.cache/


.vscode/


migrations/*.pyc
migrations/__pycache__/


.DS_Store
Thumbs.db
